<h1>New project</h1>


<form class="form-horizontal" role="form">

    <div class="row">

        <div class="form-group">
            <label for="textName" class="col-sm-2 control-label">{{view.Fields.Name.Caption}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="textName" placeholder="enter project name" ng-model="project.Name" />
            </div>
        </div>

    </div>
    <div class="row">

        <div class="form-group">
            <label for="textStatus" class="col-sm-2 control-label">{{view.Fields.Status.Caption}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="textStatus" placeholder="enter project status" ng-model="project.Status" />
            </div>
        </div>

    </div>

    <div class="row">

        <div class="form-group">
            <label for="selectCustomer" class="col-sm-2 control-label">{{view.Fields.Customer.Caption}}</label>
            <div class="col-sm-10">
                <lookup id="selectCustomer" placeholder="Search for a customer" style="width: 100%" min-input-length="0" query="lookupCustomers" value="project.Customer">
                </lookup>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group">
            <label for="dateStartDate" class="col-sm-2 control-label">Start date:</label>
            <div class="col-sm-10">
                <div class="input-group date" date-picker value="project.Start">
                    <input id="dateStartDate" type="text" class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="form-group">
            <label for="dateEndDate" class="col-sm-2 control-label">End date:</label>
            <div class="col-sm-10">
                <div class="input-group date" date-picker value="project.End">
                    <input id="dateEndDate" type="text" class="form-control">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="form-group">
            <div class="col-sm-10 col-lg-offset-2">
                <div class="input-group date">
                    <input ng-click="add()" type="button" class="form-control btn btn-default" value="Add">
                </div>
            </div>
        </div>
    </div>

</form>